
{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="home">
    <div class="hero-img">
        <img src="{% static 'images/hero.png' %} " alt="Hero image of soundwave">
    </div>
</section>

<div class="welcome hero-box">
    <h2>Welcome to <span>Composer Hub</span></h2>
    <h2>YOUR HOME FOR THE WORLD'S BEST COMPOSERS</h2>
</div>

{% if request.user.is_authenticated %}
<div class="signup-container">
    <div class="signup-text">
        <h2>Welcome back <span>{{ user.first_name }}</span></h2>
    </div>
</div>

{% else %}
<div class="signup-container">
    <div class="signup-text">
        <h2>Click the button to <span>LOGIN</span></h2>
        <h2> or <span>SIGNUP</span> to get started</h2>
    </div>
    <div class="welcome-btn">
        <a href="{% url 'login' %}" class="btn">Login/Sign Up</a>
    </div>
</div>

{% endif %}


{% endblock %}