{% extends 'base.html' %}

{% block content %}
<section class="composition-container">
    <div class="composition">
        <div class="comp-img">
            <img src="{{ composition.comp_image.url }}" alt="Composition Image">
        </div>

        <div class="comp-title">
            <h1>{{ composition.title }}</h1>
            <h3 class="composer">Composed by: {{ composition.author }}</h3>
        </div>
        <div class="comp-text">
            <p>{{ composition.description }}</p>
        </div>
        <div class="comp-tags">
            {% for tag in composition.tags.all %}
              <div class="card-tag">
                {{ tag }}
              </div>
              {% endfor %}
        </div>
        <div class="card-footer">   
            <p>Added on {{ composition.created_on }}</p>
            <strong><i class="fa fa-heart-o"></i>&nbsp;&nbsp;  {{ composition.number_of_likes }}</strong>
        </div> 
    </div>
    
</section>
{% endblock content %}