@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*------ Variables ------*/

:root {
  --color-main: #BF953F;
  --color-body: #151515;
  --color-dark: #101010;
  --color-light: #d9d7d7;
  --color-lighter: #f7f7f7;
  --color-grey:#a1a1a1;
}

/*------ Clear defaults ------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: 'Quicksand', sans-serif;
  list-style: none;

}

html {
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  background-color: var(--color-body);
  margin-bottom: 20rem;
  color: var(--color-dark)

}

/*------ Burger Menu Section ------*/

.burger {
  position: fixed;
  left: 1rem;
  height: 3rem;
  z-index: 12;
}

.burger-container input[type="checkbox"],
.burger-container .burger-lines {
  display: block;
}

.burger-container {
  display: block;
  position: relative;
}

.burger-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 4rem;
  width: 4.5rem;
  top: 1rem;
  left: 1.25rem;
  z-index: 5;
  opacity: 0;
}

.burger-container .burger-lines {
  display: flex;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  z-index: 2;
  margin-top: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
}

.burger-container .burger-lines .line {
  display: block;
  height: .2rem;
  width: 100%;
  border-radius: 1rem;
  background: var(--color-main);
}

.burger-container .burger-lines .top-line {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.burger-container .burger-lines .middle-line {
  transition: transform 0.2s ease-in-out;
}

.burger-container .burger-lines .bottom-line {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.burger .menu-items {
  background-color:rgba(16, 16,16, 0.75);
  max-width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  padding: 5rem 1.5rem 1.5rem 0;
  transition: transform 0.5s ease-in-out;
}

.burger-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.burger-container input[type="checkbox"]:checked ~ .burger-lines .top-line {
  transform: rotate(47deg);
}

.burger-container input[type="checkbox"]:checked ~ .burger-lines .middle-line {
  transform: scaleY(0);
}

.burger-container input[type="checkbox"]:checked ~ .burger-lines .bottom-line {
  transform: rotate(-47deg);
}

.menu-items {
  display: flex;
  border-radius: 2rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.nav-menu-items a,
.menu-items a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-menu-items a:hover,
.menu-items a:hover {
  color:var(--color-main);
  transition: color 0.3s ease-in-out;
}
.btn:hover {
  color:var(--color-dark) !important;
  transition: color 0.3s ease-in-out;
}

.logo-right {
  position: absolute;
  right: 2rem;
  padding-top: 0.5rem;;
}

.logo-right > img{
  height: 3rem;
  width: 10rem;
}

@media screen and (min-width: 800px) {
  .burger{
    display: none
  }
  
  .logo-right >img {
    display:none;
    }
  
}

/*------ Header Section ------*/

.header {
  display: flex;
  z-index: 111;
  background-color: var(--color-dark);
  justify-content: center;
  height: 4rem;
}

.header > .container{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
  
a {
  text-decoration: none;
  display: inline-block;
} 
  
.nav{
  display: inline;
}

.nav > ul {
  display: inline-flex;
  align-items: center;
  gap: 3.5rem;
}
  
.nav_item > a {
  color: white;
  font-weight: 300;
}

.btn {
  cursor: pointer;
  background-color: var(--color-main);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color:white;
  overflow: hide;
}

.logo > img{
  height: 4rem;
  width: 15rem;
}

@media screen and (max-width: 1450px) {
  .header{
    font-size: 1rem;
  }
  
  .nav > ul {
    gap: 1.5rem;
  }

  .logo > img{
    height: 3rem;
    width: auto;
  }
}

@media screen and (max-width: 1100px) {
  .header{
    font-size: 0.75rem;
  }
  
  .nav > ul {
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .header > .container{
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .header > .container{
    display: none;
  }
}
/*------ Hero Section ------*/

.home{
  display: flex;
  background-color: #101010;
  justify-content: center;
}

.hero-img {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.welcome{
  background-color: #101010;
  text-align: center;
}

.hero div{
  display: flex;
}

.hero-section {
  text-align: center;
  height: 40vh;
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-light);
  justify-content: center;
}

.hero-box{
  padding: 3rem;
  margin-bottom: 3rem;
}

.hero-box > h2,
.hero-box > h2 > span {
  font-size: 3rem;
  color: var(--color-light);
  line-height: 1.3;
  text-transform: uppercase;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-light);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;
  gap: 2rem;
}

.welcome-btn,
.signup-text{
  margin: 1rem auto;
  padding: 0 1rem;
}

.signup-text span{
  color: var(--color-main)
}

.welcome-btn .btn{
  width: fit-content;
  font-size: 1rem;
}
@media screen and (max-width: 1000px) {
  .hero-box > h2,
  .hero-box > h2 > span {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .hero-box > h2,
  .hero-box > h2 > span {
    font-size: 2.1rem;
    line-height: 1.5;
  }

  .signup-text{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .hero-box > h2,
  .hero-box > h2 > span {
    font-size: 2rem;
    line-height: 1.5;
  }

}

@media screen and (max-width: 400px) {
  .hero-box> h2,
  .hero-box> h2 > span {
    font-size: 1.2rem;
  }

  .signup-text{
    font-size: 0.9rem;
  }
}

.hero-box> h2 {
  font-weight: 300;
}

.hero-box> h2 > span {
  font-weight: 700;
  color:var(--color-main)
}

.hero-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.hero-form label {
  position: absolute;
  left: -9999px;
}

.hero-form .input-text {
  width: 20rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.1rem;
  padding-left: 1rem;
  color: var(--color-dark)
}

input, select, textarea{
  color: var(--color-dark)
}

@media screen and (max-width: 700px) {
  .hero-form {
    gap: 0.5rem;
  }

  .hero-form .input-text {
    width: 15rem;
    height: 3rem;
  }

}

/*------ Composition list Section ------*/

.compositionlist {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  margin: 0.5rem;
  justify-content: center;
  max-width: 1400px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card-text h2{
  justify-self: center;
  color:var(--color-main);
  font-size: 1.5rem;
}

.card-tags{
  display: flex;
  flex-wrap: wrap;
}

.card-tag{
  width: fit-content;
  height: fit-content;
  margin: 0.2rem;
  padding:0.2rem;
  border: 2px solid var(--color-main);
  border-radius: 10px;
  color: white;
  background-color: var(--color-main);
}

.card-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .card {
    width: 15rem;
  }
}

/*------ Composition Section ------*/

.composition-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.composition {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-self: center;
  border: 1.5px solid #b6c9e0;
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  text-decoration: none;
}

.composition-full{
  max-width: 50rem;
  margin: 5rem;
}

.composition-card {
  max-width: 25rem;
  min-height: 30rem;;
}

.comp-img img{
  width: 100%;
  object-fit: contain;
  min-width: 10rem;
  max-width: 60rem;
  border: 1px solid var(--color-main);
  align-self: center;
  margin-bottom: 2rem;
}

.comp-title{
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 0 auto;
  color: var(--color-main);
  font-size: 1.5rem;
}

.comp-text{
  margin: 3rem 0;
}

.composition h1 {
  align-self: center;
  text-decoration: none;
  color: var(--color-main);
  margin-bottom: 1rem;
  font-size: 2rem;
}

.composition h3 {
  align-self: center;
  text-decoration: none;
  color: var(--color-main);
  margin-bottom: 0.5rem;

}
.composition p {
  margin-bottom: 1rem;
}

.comp-tags{
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  margin-bottom: 5rem;
}


@media screen and (max-width: 600px) {
  .composition {
    margin: 1rem;
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .composition .card-footer{
    font-size: 0.75rem;
  }
}

/*------ Composers Section ------*/

.composer{
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1.5px solid #b6c9e0;
  padding: 2rem;
  padding-bottom: 1rem;
  margin: 5rem;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  text-decoration: none;
  max-width: 50rem;
}

.composer-card {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  border-radius: 1rem;
  background-color: white;
  border: 3px solid var(--color-main);
  max-width: 25rem;
  max-height: 25rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.composer-img{
  display:flex;
  justify-self: center;
  margin: 1rem auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #b88845;
}

.composer-card-text {
    margin: 1rem auto;
}

.composer-card-text a h2{
  margin: 1rem auto;
  color:var(--color-main);
  font-size: 1.5rem;
}

.website{
  align-self: center;
}

.website .btn {
margin-bottom: 1rem;
}

/*------ Add Composition Section ------*/

.form {
  margin-top: 3rem;;
  display: flex;
  justify-content: center;
}

.form-text{
  font-size: 2rem;
  color:var(--color-main);
  justify-items: center;
}

.form-container{
  display: flex;
  justify-content: center;
}

.formWrapper {
  justify-self: center;
  list-style: none;
  background: var(--color-white);
  padding: 3.5rem 5rem;
  border-radius: 0.7rem;
  background-color: white;
  width: 80vw;
  max-width: 1100px;
}

.form-field {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.input {
  min-width: 25rem;
  width: 100%;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-main);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-lighter);
}

.input:focus {
  border: 2px solid var(--color-main);
  outline: none;
}

.cb-tags{
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
  margin: 0.5rem;
}

input[type=checkbox] {
  accent-color: var(--color-main);
}

@media screen and (max-width: 700px) {
  .formWrapper {
    width: 90vw;
    padding: 1rem;
  }

  .form-field{
    overflow: hidden;
  }

  .input{
    min-width: 5rem;
    overflow: hidden;
  }
}

/*------ Footer Section ------*/

.footer {
  position: fixed;
  background-color: #101010;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 4rem;
  align-content: center;
  justify-content: center;
}

.social-networks {
  display: flex;
}

.social-networks a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-right: 2rem;
  font-size: 1.5rem;
  transition: 0.4s ease-in-out;
  color:var(--color-main);
}

.social-networks a:hover {
  color: white;
}

.messages {
  position: fixed;
  display: flex;
  bottom: 1rem;
  left: 1rem;
  color: var(--color-main);
  z-index: 1;
}

.error img {
  object-fit: cover;

}