{% extends 'base.html' %}


{% block content %}

<section class="hero-section">
    <div>
      <div class="hero-box">
        <h2>CHECK OUT THESE AMAZING <span>COMPOSERS</span></h2>
        <h2>AND GET SOME INSPIRATION OR CONNECT FOR A COLAB</h2>
      </div>
  
      <div class="hero-search">
        <form class="hero-form" action="#" method="get">
          <div>
            <label for="composition-search">Search composers</label>
            <input class="input-text" id="composition-search" type="text" name="text"
              placeholder="Search by composer name" />
          </div>
  
          <input class="btn hero-btn" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </section>
  
  <!-- loop through existing compositions -->
  
  <section class="compositionlist">
    <div class="card-container">
      {% for profile in profiles %}
        <div class="composer-card">
          
          
          <img class="composer-img" src="{{ profile.profile_image.url }}" alt="Image of composer">
          

          <div class="composer-card-text">
            <h2>{{ profile.name }}</h2>
            <p>{{ profile.about|slice:"150" }}</p>
          </div>
       </div>
      </a>
      {% endfor %}
    </div>
  </section>

{% endblock %}