{% extends 'base.html' %}

{% block content %}
<section class="composition-container">
    <div class="composer">
        <div class="comp-img">
            <img src="{{ profile.profile_image.url }}" alt="Composer Image">
        </div>

        <div class="comp-title">
            <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
        </div>
        <div class="comp-text">
            <p>{{ profile.about }}</p>
        </div>
        {% if profile.website %}
        <div class="website">
            <button class="btn" target="_blank" onclick="window.location.href = '{{ profile.website }}'">Website</button>
        </div>
        {% endif %}
    </div>
    
</section>
{% endblock content %}