<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <title>Composer Hub - Find a Composer for your next Project</title>
</head>

<body>

        <!-- Burger Menu Section-->

  <header class="header">

    <a href="{% url 'home' %}" class="logo-right">
      <img src="{% static 'images/logo.png' %} " alt="Composer Hub Logo" />
    </a>

    <nav class="burger">
      <div class="burger-container">
        <input type="checkbox" aria-label="hamburger menu"/>
        <div class="burger-lines">
          <span class="line top-line"></span>
          <span class="line middle-line"></span>
          <span class="line bottom-line"></span>
        </div>

        <ul class="menu-items">
          <li><a href="{% url 'home' %}">Home</a></li>
          {% if request.user.is_authenticated %}
            <li class="nav_item"><a href = "{% url 'compositions' %}">Compositions</a></li>
            <li class="nav_item"><a href = "{% url 'create-composition' %}">Add Composition</a></li>
            <li class="nav_item"><a href = "{% url 'profiles' %}">Composers</a></li>
            <li class="nav_item"><a href = "{% url 'account' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}" class="btn">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

          <!-- Logo -->
    <div class="container">
      <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'images/logo.png' %} " alt="Composer Hub Logo" />
      </a>
  
      <!-- Navigation bar -->
      <nav class="nav">
        <ul class="nav-menu-items">
          <li class="nav_item"><a href = "{% url 'home' %}">Home</a></li>
          {% if request.user.is_authenticated %}
            <li class="nav_item"><a href = "{% url 'compositions' %}">Compositions</a></li>
            <li class="nav_item"><a href = "{% url 'create-composition' %}">Add Composition</a></li>
            <li class="nav_item"><a href = "{% url 'profiles' %}">Composers</a></li>
            <li class="nav_item"><a href = "{% url 'account' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}" class="btn">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <main>

      {% block content %}

      <!-- Content Goes here -->

      {% endblock content %}
  
  </main>

      <!-- Footer Section -->

  <footer class="footer">
      <div class="social-networks">
        <a
          href="http://facebook.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit our Facebook page in a new tab"
          >
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a
          href="http://twitter.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit our Twitter page in a new tab"
          >
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a
          href="http://tiktok.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit our tiktok in a new tab"
          >
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a
          href="http://instagram.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit our Instagram page in a new tab"
          >
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
  </footer>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
<main>

          <!-- font awesome script for social media icons -->
    
  <script src="https://kit.fontawesome.com/e55eab4b8b.js"
  crossorigin="anonymous"></script>

</body>

</html>